pip==22.1.2
bump2version==1.0.1
wheel==0.37.1
watchdog[watchmedo]==2.1.9
flake8==4.0.1
pylint==2.14.4
tox==3.25.1
coverage==6.4.1
Sphinx==5.0.2
twine==4.0.1
# Test requirements
pytest==7.1.2
pytest-mock==3.8.1
