pip==25.3
bump2version==1.0.1
wheel==0.46.1
watchdog[watchmedo]==6.0.0
# flake8==5.0.4
pylint==4.0.4
tox==4.32.0
coverage==7.13.1
Sphinx==9.1.0
twine==4.0.2
# Test requirements
pytest==7.2.2
pytest-mock==3.10.0
