pip==22.2.2
bump2version==1.0.1
wheel==0.37.1
watchdog[watchmedo]==2.1.9
flake8==5.0.4
pylint==2.15.0
tox==3.25.1
coverage==6.3
Sphinx==4.3.2
twine==3.7.1
# Test requirements
pytest==6.2.5
pytest-mock==3.7.0
