# pyup: ignore file
pip~=20.3.4
wheel==0.36.2
bump2version==1.0.1
watchdog==0.10.7
flake8==3.9.2
pylint==2.6.2
tox==3.24.0
coverage==5.5
Sphinx==3.5.4
twine==1.15.0
# Test requirements
pytest==6.1.2
pytest-mock==3.5.1
